<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Título de la app -->
    <a class="navbar-brand" [routerLink]="['/']">Solar</a>

    <!-- Botón para colapsar en móvil -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links de navegación -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lista']">Lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tabla']">Tabla</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
