<section class="mx-48">
  <header class="mt-12 mb-12">
    <h1 class="text-base-content text-5xl font-bold">Cuenta</h1>
  </header>

  <form (submit)="onSubmit($event)">
    <div class="grid grid-cols-2 gap-4">
      <div class="bg-base-200 rounded-box flex h-full flex-col p-6 shadow-md">
        <h1 class="text-base-content mb-4 text-4xl font-bold">Foto de perfil</h1>

        <div class="mb-4 flex flex-1 items-center justify-center">
          @if (previewURL()) {
            <div class="avatar">
              <div class="w-72 rounded-full shadow-xl">
                <img [src]="previewURL()" alt="Foto de perfil" />
              </div>
            </div>
          } @else {
            <div class="avatar avatar-placeholder">
              <div class="bg-neutral text-neutral-content w-72 rounded-full shadow-xl">
                <span class="text-9xl font-bold">{{ first_name()?.charAt(0) }}</span>
              </div>
            </div>
          }
        </div>

        <input
          type="file"
          accept="image/*"
          class="file-input w-full shadow-md"
          (change)="onPhotoSelected($event)"
          [disabled]="loading()"
        />
      </div>

      <div>
        <h1 class="text-base-content mb-4 text-4xl font-bold">Información</h1>

        <div class="bg-base-200 rounded-box my-2 p-4 shadow-md">
          <p class="text-base-content/50 text-sm font-semibold">Nombre</p>
          <input
            class="input text-base-content/90 mt-2 w-full text-lg font-semibold"
            type="text"
            [formField]="cuentaForm.first_name"
          />
        </div>

        <div class="bg-base-200 rounded-box my-2 p-4 shadow-md">
          <p class="text-base-content/50 text-sm font-semibold">Apellidos</p>
          <input
            class="input text-base-content/90 mt-2 w-full text-lg font-semibold"
            type="text"
            [formField]="cuentaForm.last_name"
          />
        </div>

        <div class="bg-base-200 rounded-box my-2 p-4 shadow-md">
          <p class="text-base-content/50 text-sm font-semibold">Correo electrónico</p>
          <p class="text-base-content/90 text-lg font-semibold">{{ email() }}</p>
        </div>

        <div class="bg-base-200 rounded-box my-2 p-4 shadow-md">
          <p class="text-base-content/50 text-sm font-semibold">UID</p>
          <p class="text-base-content/90 text-lg font-semibold">{{ uid() }}</p>
        </div>

        <button
          class="btn btn-soft btn-block btn-success mt-4 min-w-max font-bold shadow-md"
          type="submit"
          [disabled]="loading()"
        >
          @if (loading()) {
            <span class="loading loading-spinner"></span>
          } @else {
            Guardar cambios
          }
        </button>
      </div>
    </div>
  </form>
</section>
