<section class="bg-base-100 mx-48 min-h-screen">
  <header class="mb-10">
    <h1 class="text-base-content text-2xl font-semibold">
      {{ isEditing() ? 'Editar planta' : 'Crear planta' }}
    </h1>
    <p class="text-base-content/70 mt-2 text-sm">
      {{
        isEditing()
          ? 'Actualiza la informacion principal de la planta.'
          : 'Completa los datos basicos para registrar una nueva planta.'
      }}
    </p>
  </header>

  <div class="mb-4 flex flex-row items-center justify-between">
    <div>
      @if (isEditing()) {
        <div class="mb-2 flex items-center gap-2">
          <span class="badge badge-soft badge-success text-xs shadow-md">Activa</span>
          <span class="badge badge-soft badge-info text-xs shadow-md">
            ID #{{ planta()?.id }}
          </span>
        </div>
      }
      <h1 class="text-base-content mb-2 text-4xl font-semibold">
        {{ isEditing() ? planta()?.name : 'Nueva Planta' }}
      </h1>
      @if (isEditing()) {
        <p class="text-base-content/70">Creado el {{ planta()?.created_at | date: 'long' }}</p>
      }
    </div>
    <a class="btn btn-soft btn-warning min-w-max shadow-md" [routerLink]="cancelLink()">
      Cancelar
    </a>
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div>
      <div class="rounded-box aspect-video overflow-hidden shadow-xl">
        <img [src]="previewURL()" alt="Imagen de la planta" class="h-full w-full object-cover" />
      </div>

      <input
        type="file"
        accept="image/*"
        class="file-input mt-4 w-full shadow-md"
        (change)="onPhotoSelected($event)"
        [disabled]="loading()"
      />
    </div>

    <div>
      <h1 class="text-base-content mb-4 text-3xl font-semibold">Información</h1>

      <form class="" (submit)="onSubmit($event)">
        <div class="bg-base-200 rounded-box my-2 p-4 shadow-md">
          <p class="text-base-content mb-2 text-lg font-semibold">Nombre</p>
          <input
            class="input w-full"
            type="text"
            placeholder="Parque Solar Andino"
            [formField]="plantaForm.name"
          />
        </div>

        <div class="bg-base-200 rounded-box my-2 p-4 shadow-md">
          <p class="text-base-content mb-2 text-lg font-semibold">Capacidad (MW)</p>
          <input
            class="input w-full"
            type="number"
            placeholder="120"
            [formField]="plantaForm.capacity"
          />
        </div>

        <div class="bg-base-200 rounded-box my-2 p-4 shadow-md">
          <div class="mb-4 grid grid-cols-2 gap-4">
            <div>
              <p class="text-base-content mb-2 text-lg font-semibold">Latitud</p>
              <input
                class="input w-full"
                type="number"
                step="any"
                placeholder="-33.456"
                [formField]="plantaForm.latitude"
              />
            </div>
            <div>
              <p class="text-base-content mb-2 text-lg font-semibold">Longitud</p>
              <input
                class="input w-full"
                type="number"
                step="any"
                placeholder="-70.648"
                [formField]="plantaForm.longitude"
              />
            </div>
          </div>

          <button
            class="btn btn-soft btn-primary min-w-max shadow-md"
            type="button"
            (click)="setCurrentPosition()"
            [disabled]="loading()"
          >
            Obtener ubicación actual
          </button>
        </div>

        <button
          class="btn btn-soft btn-block btn-success mt-2 min-w-max shadow-md"
          type="submit"
          [disabled]="loading()"
        >
          @if (loading()) {
            <span class="loading loading-spinner"></span>
          } @else {
            {{ isEditing() ? 'Guardar cambios' : 'Crear planta' }}
          }
        </button>
      </form>
    </div>
  </div>
</section>
