<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Planta</th>
        <th>Produccion</th>
        <th>Consumo</th>
        <th>Balance</th>
        <th>Mensaje</th>
      </tr>
    </thead>
    <tbody>
      @if (loading()) {
        <tr>
          <td colspan="7">Cargando las plantas...</td>
        </tr>
      }
      @if (error()) {
        <tr>
          <td colspan="7">Error al cargar las planas...</td>
        </tr>
      }
      @if (!loading() && !error()) {
        @for (plantaLog of plantaLogs(); track plantaLog.id) {
          <tr class="hover:bg-base-200">
            <td>{{ plantaLog.id }}</td>
            <td>
              {{ plantaLog.created_at | date: 'short' }}
            </td>
            <td>{{ plantaLog.planta_id }}</td>
            <td>{{ plantaLog.production | number }}</td>
            <td>{{ plantaLog.consumption | number }}</td>
            <td>
              {{ plantaLog.production | energyBalance: plantaLog.consumption }}
            </td>
            <td>{{ plantaLog.message }}</td>
          </tr>
        } @empty {
          <tr>
            <td colspan="7">No hay plantas que mostrar...</td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
