<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha de creación</th>
        <th>ID de Planta</th>
        <th>Producción (kWh)</th>
        <th>Consumo (kWh)</th>
        <th>Balance (kWh)</th>
        <th>Mensaje</th>
      </tr>
    </thead>
    <tbody>
      @if (loading()) {
        <tr>
          <td colspan="7">Cargando registros...</td>
        </tr>
      }
      @if (error()) {
        <tr>
          <td colspan="7">Error al cargar los registros.</td>
        </tr>
      }
      @if (!loading() && !error()) {
        @for (plantaLog of plantaLogs(); track plantaLog.id) {
          <tr class="hover:bg-base-200">
            <td>
              <span class="badge badge-soft badge-gray text-xs text-nowrap shadow-md">{{
                plantaLog.id
              }}</span>
            </td>
            <td>
              {{ plantaLog.created_at | date: 'short' }}
            </td>
            <td>
              <span class="badge badge-soft badge-info text-xs text-nowrap shadow-md">{{
                plantaLog.planta_id
              }}</span>
            </td>
            <td>{{ plantaLog.production | number }} kWh</td>
            <td>{{ plantaLog.consumption | number }} kWh</td>
            <td>
              {{ plantaLog.production | energyBalance: plantaLog.consumption | number }} ({{
                plantaLog.production | energyBalance: plantaLog.consumption | balanceStatus
              }})
            </td>
            <td>{{ plantaLog.message }}</td>
          </tr>
        } @empty {
          <tr>
            <td colspan="7">No hay registros para mostrar.</td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
