<div class="card bg-base-200 h-130 shadow-xl">
  <figure class="aspect-video overflow-hidden">
    <img [src]="planta().photo_url" alt="Imagen" class="h-full w-full object-cover" />
  </figure>
  <div class="card-body">
    <div class="flex gap-2">
      @if (planta().active) {
        <span class="badge badge-xs badge-soft badge-success shadow-md">Activa</span>
      } @else {
        <span class="badge badge-xs badge-soft badge-error shadow-md">Inactiva</span>
      }
      <span class="badge badge-xs badge-soft badge-info shadow-md">{{ planta().id }} </span>
    </div>
    <h3 class="card-title">
      {{ planta().name }}
    </h3>

    <p class="text-base-content/90">{{ planta().description }}</p>

    <div class="card-actions justify-between">
      <a
        [routerLink]="['/plantas', planta().id]"
        class="btn btn-primary btn-lg btn-soft min-w-max font-bold shadow-md"
      >
        Ver más
        <app-icon className="size-5" strokeWidth="2.5" name="chevron-right-outline" />
      </a>

      <button
        type="button"
        (click)="toggleFavorite()"
        class="transform cursor-pointer transition-transform duration-100 ease-out hover:scale-105 active:scale-115"
      >
        @if (isFavorite()) {
          <app-icon
            className="size-10 text-error/90  hover:text-error"
            name="heart-solid"
          ></app-icon>
        } @else {
          <app-icon
            className="size-10 text-error/90 hover:text-error"
            strokeWidth="1.5"
            name="heart-outline"
          ></app-icon>
        }
      </button>
    </div>
  </div>
</div>
