<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Ubicación</th>
        <th>Capacidad</th>
        <th>Usuario</th>
        <th>Fecha Creación</th>
        <th>Imagen</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @if (loading()) {
        <tr>
          <td colspan="8">Cargando las plantas...</td>
        </tr>
      }
      @if (error()) {
        <tr>
          <td colspan="8">Error al cargar las plantas...</td>
        </tr>
      }
      @if (!loading() && !error()) {
        @for (planta of plantas(); track planta.id) {
          <tr class="hover:bg-base-200" app-planta-table-row [plantaId]="planta"></tr>
        } @empty {
          <tr>
            <td colspan="8">No hay plantas que mostrar...</td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
