<div
  class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default"
>
  <table class="w-full text-sm text-left rtl:text-right text-body">
    <thead
      class="text-sm text-body bg-neutral-secondary-medium border-b border-t border-default-medium"
    >
      <tr>
        <th scope="col" class="px-6 py-3 font-medium">ID</th>
        <th scope="col" class="px-6 py-3 font-medium">Nombre</th>
        <th scope="col" class="px-6 py-3 font-medium">Ubicación</th>
        <th scope="col" class="px-6 py-3 font-medium">Capacidad</th>
        <th scope="col" class="px-6 py-3 font-medium">Usuario</th>
        <th scope="col" class="px-6 py-3 font-medium">Fecha Creación</th>
        <th scope="col" class="px-6 py-3 font-medium">Foto</th>
        <th scope="col" class="px-6 py-3 font-medium">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @if (loading()) {
        <p class="text-center">Cargando las plantas...</p>
      }
      @if (error()) {
        <p class="text-center">Error al cargar las planas...</p>
      }
      @if (!loading() && !error()) {
        @for (planta of plantas(); track planta.id) {
          <tr
            class="bg-neutral-primary-soft border-b border-default hover:bg-neutral-secondary-medium"
            app-planta-table-row
            [plantaId]="planta"
          ></tr>
        } @empty {
          <p class="text-center">No hay plantas que mostrar...</p>
        }
      }
    </tbody>
  </table>
</div>
