<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
  @if (loading()) {
    <p class="text-center">Cargando las plantas...</p>
  }
  @if (error()) {
    <p class="text-center">Error al cargar las planas...</p>
  }
  @if (!loading() && !error()) {
    @for (planta of plantas(); track planta.id) {
      <app-planta-item
        [planta]="planta"
        (favoriteToggled)="toggleFavorite(planta)"
      ></app-planta-item>
    } @empty {
      <p class="text-center">No hay plantas que mostrar...</p>
    }
  }
</div>
