<div class="grid grid-cols-5 gap-10 px-6">
  @if (loading()) {
    <p class="text-xl text-gray-600 italic">Cargando las plantas...</p>
  }
  @if (error()) {
    <p class="text-xl text-gray-600 italic">Error al cargar las planas...</p>
  }
  @if (!loading() && !error()) {
    @for (planta of plantas(); track planta.id) {
      <app-planta-item
        [planta]="planta"
        (favoriteToggled)="toggleFavorite(planta)"
      ></app-planta-item>
    } @empty {
      <p class="text-xl text-gray-600 italic">No hay plantas que mostrar...</p>
    }
  }
</div>
